#videos {
  display: flex;
  flex-direction: row;
}

#videos div {
  margin: 10px;
  width: 50vw;
  height: 50vh;
}

form {
  margin-top: 20px;
}

form label {
  margin-right: 5px;
}
form input {
  margin-right: 20px;
}

